#ENVIRONMENT SPECIFIC ---------------
ENVIRONMENT=local

REPO_HOST=localhost
#REPO_HOST=mono-repo-1.cadenscharpf.com # example external host

PROTOCOL=http
PORT=8080
#------------------------------------
# DATABASE
POSTGRES_DB=coredb
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_HOST_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
LOCAL_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_HOST_PORT}/${POSTGRES_DB}

# WEB APP 1
WEB_APP_1_NAME=web-app-1
WEB_APP_1_BASE_PATH=web-app-1
WEB_APP_1_DEBUG_PORT=3026
WEB_APP_1_HOST=${REPO_HOST}/${WEB_APP_1_BASE_PATH}
WEB_APP_1_URL=${PROTOCOL}://${WEB_APP_1_HOST}

# SERVER APP 1
SERVER_APP_1_NAME=server-app-1
SERVER_APP_1_BASE_PATH=server-app-1
SERVER_APP_1_DEBUG_PORT=3028
SERVER_APP_1_HOST=${REPO_HOST}/${SERVER_APP_1_BASE_PATH}
SERVER_APP_1_URL=${PROTOCOL}://${SERVER_APP_1_HOST}
