version: "3.8"
x-extra_hosts: &default-extra_hosts
  - "${TOP_LEVEL_DOMAIN:?err}:host-gateway"

x-default-cfg: &default-cfg
  extra_hosts: *default-extra_hosts
  #network_mode: bridge
  restart: always
  env_file:
    - .env

x-common-volumes: &default-volumes

networks:
  appnet:
  dbnet:

services:

  postgres:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:?err}
      POSTGRES_USER: ${POSTGRES_USER:?err}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?err}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - "${DB_PERSISTENCE_PATH:?err}:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks: [dbnet]


  web-app-1:
    <<: *default-cfg
    build:
      target: runner
      args: 
        - PROJECT=web-app-1
    container_name: ${WEB_APP_1_NAME:?err}
    ports:
      - "${WEB_APP_1_PORT:?err}:80"
    #volumes:
    environment:
      - NODE_ENV=production
    networks: [appnet]

  server-app-1:
    <<: *default-cfg
    build:
      target: runner
      args: 
        - PROJECT=server-app-1
    container_name: ${SERVER_APP_1_NAME:?err}
    ports:
      - "${SERVER_APP_1_PORT:?err}:80"
    environment:
      - NODE_ENV=production
    networks: [appnet, dbnet]

#  ${SERVER_APP_1_NAME:?err}:
